<style>table { table-layout: fixed; border-bottom-style:dotted;}
td { width: 15%; }
</style>
<div class=" hero-unit">
<h2>Listing posts</h2>
   <br/>


  <% @posts.each do |post| %>
  <table>
    <tr>
    <th style="float: left">Title:
    <%= link_to post.title, post %></th></tr>

    <tr><td>Message:
    <%= post.message %>               </td></tr><tr><td>
             <%= link_to 'No. of Comments:', post %><%= post.comments.count %>  </td> </tr>
    <tr><td><%= link_to 'Edit', edit_post_path(post) %>     |
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>  </td> </tr>
  </table>
<% end %>


<br />



<p><%= will_paginate @posts %></p>
</div>